<div class="eqLogic-widget eqLogic" style="max-width:138px;max-height:530px;border:#border#;border-radius:30px !important;background-color: black !important;color:#color#;#style#;height:530px;margin:0;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
  
  <link rel="stylesheet" href="plugins/aTVremote/core/template/dashboard/css/style.css" />
  <style>
	.artworkBackground_#id# {
		background-image: url("#artwork_url#");
		filter:blur(15px);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
  </style>

  	<div class="haut_aTVremote_widget" >
		<div class="artworkBackground artworkBackground_#id#"></div>
      		<div class="haut">
		
<!--  Partie Supérieure -->
  			<a class="power cmd turn_on" data-cmd_id="#cmd_turn_on_id#" title="Off"><img id="off#id#" class="onoff" src='plugins/aTVremote/core/template/dashboard/images/Off1.png'/></a>
			<a class="power cmd turn_off" data-cmd_id="#cmd_turn_off_id#" title="On"><img id="on#id#" class="onoff" src='plugins/aTVremote/core/template/dashboard/images/On1.png'/></a>
  
  			<a class="btn_aTVremote_refresh cmd refresh" data-cmd_id="#cmd_refresh_id#" title='Rafraichir' ><img class="aTVremote_refresh"  src='plugins/aTVremote/core/template/dashboard/images/repeat.png' style="width:20px;position : absolute;right :4px;top : 4px;font-size : 0.9em; z-index:6; opacity:0.1;"/></a>
      	
			<a href="#eqLink#" class="titre_haut_aTVremote_widget" style="#hideEqLogicName#;" title="#device# #ATV# #os# #osVersion#"><i class='fab fa-apple' ></i>&nbsp;#name_display#</a>
          		
				<div class="downpanelApp">
    				<div style="overflow: auto;height: 276px;">
        				<legend style="color : white;margin-bottom: 4px !important;text-align: center !important;width: 117px;margin-top: 17px !important;">App</legend>
        				<img class="downRafter2App" src="plugins/aTVremote/core/template/dashboard/images/X.png" style="width:30px;" onClick="panelDownCloseApp#id#()"/>
      					<section style="text-align: center;">
							<br/>
							Lance App :
							<div class="cmd-widget" data-type="action" data-subtype="select" data-template="default" data-cmd_id="#cmd_launch_app_id#"><div class="content-xs"><select class="selectCmd"><option value="">Aucune</option>#cmd_launch_app_opt#</select></div></div>
							<br>
						</section>
    				</div>
				</div>

				<a><img class="appsBox" src="plugins/aTVremote/core/template/dashboard/images/database.png" style="width:20px;" onclick="panelDownApp#id#()" title='Apps'/></a>	
				<script>
					
					$(".cmd-widget[data-cmd_id=#cmd_launch_app_id#] .selectCmd").on('change', function () {
					  jeedom.cmd.execute({id: '#cmd_launch_app_id#', value: {select: $(this).value()}})
					})

					jeedom.cmd.update['#cmd_launch_app_id#'] = function(_options) {
					  $(".cmd-widget[data-cmd_id=#cmd_launch_app_id#] .selectCmd").val(_options.display_value)
					}
  
				</script>
          
          		
          	<div id="a#id#" class="repeatBox">
              			<a class="btn_aTVremote_shuffle cmd set_shuffle_on" data-cmd_id="#cmd_set_shuffle_on_id#" title='Aléa.Off'><img src='plugins/aTVremote/core/template/dashboard/images/shuffle_off.png' style="width:20px;"/>&nbsp;&nbsp;</a>
				<a class="btn_aTVremote_shuffle cmd set_shuffle_off" data-cmd_id="#cmd_set_shuffle_off_id#" title='Aléa.On'><img src='plugins/aTVremote/core/template/dashboard/images/shuffle.png' style="width:20px;"/>&nbsp;&nbsp;</a> 
				<a class="btn_aTVremote_repeat cmd set_repeat_all" data-cmd_id="#cmd_set_repeat_all_id#" title='Rep.Off'><img src='plugins/aTVremote/core/template/dashboard/images/repeat_off.png' style="width:20px;"/></a>
				<a class="btn_aTVremote_repeat cmd set_repeat_track" data-cmd_id="#cmd_set_repeat_track_id#" title='Rep.Tout'><img src='plugins/aTVremote/core/template/dashboard/images/repeat_all.png' style="width:20px;"/></a>
				<a class="btn_aTVremote_repeat cmd set_repeat_off" data-cmd_id="#cmd_set_repeat_off_id#" title='Rep.Piste'><img src='plugins/aTVremote/core/template/dashboard/images/repeat_1.png' style="width:20px;;"/></a>
            </div>
<!--  Partie Supérieure -->

  			<a style='position:absolute;margin-top:10px;left:44px;z-index:5;'>&nbsp;<img class='image-encoche' style='width:40px;' src='plugins/aTVremote/core/template/dashboard/images/encoche.png'/>&nbsp;</a>

  			<a style='position:absolute;margin-top:10px;left:44px;z-index:4;'>&nbsp;<img class='image-clignote' style='width:40px;display:none;' src='plugins/aTVremote/core/template/dashboard/images/encoche - rouge.png'/>&nbsp;</a>         
          	<p class="app_hide" style='position: absolute;margin-top: 29px;'><a class="app_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="App"><span id="sum#id#"></span></a><br></p>
     	</div>
      
<!--  Artwork -->
		<div class="artwork_aTVremote">
          
			<img src="#artwork_url#" class="artwork_un_aTVremote" />

          		<a class="btn_aTVremote_up cmd up" data-cmd_id="#cmd_up_id#" ><img class="aTVremote_up" src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:30px"/></a>              
				<a class="btn_aTVremote_left cmd left" data-cmd_id="#cmd_left_id#" ><img class="aTVremote_left" src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:30px;"/></a>
				<a class="btn_aTVremote_select cmd select" data-cmd_id="#cmd_select_id#" ><img src='plugins/aTVremote/core/template/dashboard/images/record.png' style="width:30px;"/></a>
				<a class="btn_aTVremote_right cmd right" data-cmd_id="#cmd_right_id#" ><img src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:30px;"/></a>
				<a class="btn_aTVremote_down cmd down" data-cmd_id="#cmd_down_id#" ><img class="aTVremote_down" src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:30px;"/></a>
          
          
				
				
				<div class="downpanelA">
    				<div style="overflow: auto;height: 290px;">
        				<legend style="color : white;margin-bottom: 4px !important;text-align: center !important;width: 117px;margin-top: 17px !important;">Info</legend>
        				<img class="downRafter2A" src="plugins/aTVremote/core/template/dashboard/images/X.png" style="width:30px;" onClick="panelDownClose#id#()"/>
      					<section style="text-align: center;"> 
							
							<img src='#artwork_url#' style="width:100px;" class="artwork"/><br>
							<br/>
							<center><p class="titre_hide"><a class="titre_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Titre"> #title# </a></p></center>
							<p class="titre2_hide"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Titre"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();" style="font-weight: bold; font-size:12px">#title#</marquee></a><br></p>
							<center><p class="artist_hide"><a class="artist_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Artiste"> #artist# </a></p></center>
							<p class="artist2_hide"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Artiste"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();" style="font-weight: bold; font-size:12px">#artist#</marquee></a><br></p>
							<center><p class="album_hide"><a class="album_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Album"> #album# </a></p></center>
							<p class="album2_hide"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Album"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();">#album#</marquee></a><br></p>
							<br>
						</section>
    				</div>
				</div>

				<a><img class="infoBox" src="plugins/aTVremote/core/template/dashboard/images/info.png" style="width:20px;" onclick="panelDown#id#()" title='info'/></a>	
				
		</div>
<!--  Artwork -->
      
<!--  Statut & Info -->
		<div class="info" style="height:80px;">
          	<br>
			<p style='margin: -14px 0 0px'><a class="Statut_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Statut" id="statut#id#"></a></p>
          	<p style='margin: -14px 0 0px'><a class="Statut_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Statut" id="statut2#id#">#play_human#</a></p>
          <br> 
			<center><p class="artist_hide" style="margin: -8px 0 8px;"><a class="artist_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Artiste"> #artist# </a></p></center>
							<p class="artist2_hide" style="margin: -6px 0 4px;"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Artiste"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();" style="font-weight: bold; font-size:12px">#artist#</marquee></a></p>
          
			<center><p class="titre_hide" style="margin: -9px 0 8px;"><a class="titre_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Titre"> #title# </a></p></center>
          	<p class="titre2_hide" style="margin: -5px 0 5px;"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Titre"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();" style="font-weight: bold; font-size:12px">#title#</marquee></a><br></p>

			<p class="info_hide" style='margin: -8px 0 8px'><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Info Média"><marquee  direction="left" behavior="scroll" scrollamount="2" scrolldelay="60" width="140px" hspace=55px loop=0 onmouseover="stop();" onmouseout="start();"><span class="genre">#genre#</span>&emsp;<span class="media">#media_type#</span>&emsp;<span class="position" id="pos#id#"></span></marquee></a><br></p>
          	
      </div>
<!--  Statut & Info -->   
          
<!--  Control & Navigation -->  
      <div class="gameplay" style="height:246px">    	
          	<div style="display: block;margin: -5px 19px 10px;" class="menu_action">			
				<a class="btn_aTVremote_menu cmd menu" data-cmd_id="#cmd_menu_id#" title='Menu'><img src='plugins/aTVremote/core/template/dashboard/images/menu2.png' style="width:40px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a class="btn_aTVremote_top_menu cmd top_menu" data-cmd_id="#cmd_top_menu_id#" title='Home'><img src='plugins/aTVremote/core/template/dashboard/images/monitor.png' style="width:40px;"/></a>	
			</div>
        <br>
			<div style="display: block; margin: -16px 19px 10px;" class="playback">
				<a class="btn_aTVremote_playback cmd play" data-cmd_id="#cmd_play_id#" title='Lecture'><img src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:40px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a class="btn_aTVremote_playback cmd pause" data-cmd_id="#cmd_pause_id#" title='Pause'><img src='plugins/aTVremote/core/template/dashboard/images/pause-1.png' style="width:40px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a class="btn_aTVremote_playback cmd stop" data-cmd_id="#cmd_stop_id#" title='Stop'><img src='plugins/aTVremote/core/template/dashboard/images/stop-1.png' style="width:40px"/></a>
			</div>
        <br> 
			<div style="display: block;margin: -15px 19px 10px;" class="backfor">
              			<a class="btn_aTVremote_playback cmd previous" data-cmd_id="#cmd_previous_id#" title='Précédent'><img src='plugins/aTVremote/core/template/dashboard/images/skip_backward.png' style="width:40px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
				<a class="btn_aTVremote_playback cmd next" data-cmd_id="#cmd_next_id#" title='Suivant'><img src='plugins/aTVremote/core/template/dashboard/images/skip_forward.png' style="width:40px"/></a>
			</div>
        <br>
          	<div style="display: block;margin: -15px 19px 10px;" class="volume" style="background-image:url(plus-moins.png);">
              	
				<a class="btn_aTVremote_plus cmd up2" data-cmd_id="#cmd_channel_up_id#" title='CH +'><img class="aTVremote_up2" src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:40px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				<a class="btn_aTVremote_plus cmd plus" data-cmd_id="#cmd_volume_up_id#" title='Vol +'><img src='plugins/aTVremote/core/template/dashboard/images/plus.png' style="width:40px;"/></a>
            </div>
        <br>
          	<div style="display: block;margin: -15px 19px 10px;" class="volume" style="background-image:url(plus-moins.png);">
              	
				<a class="btn_aTVremote_plus cmd down2" data-cmd_id="#cmd_channel_down_id#" title='CH -'><img class="aTVremote_down2" src='plugins/aTVremote/core/template/dashboard/images/play.png' style="width:40px;"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> 
				<a class="btn_aTVremote_moins cmd moins" data-cmd_id="#cmd_volume_down_id#" title='Vol -'><img src='plugins/aTVremote/core/template/dashboard/images/minus.png' style="width:40px;"/></a>
            </div>
        
        
<!--  Control & Navigation -->
          
<!--  Back to the futur Sildebar -->          
          	<!--<div class="slidecontainer">
 		 		<input type="range" min="1" max="" value="" class="slider" id="myRange">
              	<p>Value: <span id="demo"></span></p>
			</div>-->
<!--  Back to the futur Sildebar -->                                      
		</div>
     
      
	</div>

    <script> 
//Apple clignotante
      
      	$('.eqLogic[data-eqLogic_id=#id#] .cmd').click(function(){
			$('.eqLogic[data-eqLogic_id=#id#] .image-clignote').fadeOut(200);
			$('.eqLogic[data-eqLogic_id=#id#] .image-clignote').fadeIn(200);
			$('.eqLogic[data-eqLogic_id=#id#] .image-clignote').fadeOut(200);
			$('.eqLogic[data-eqLogic_id=#id#] .image-clignote').fadeIn(200);
			$('.eqLogic[data-eqLogic_id=#id#] .image-clignote').fadeOut(100);
		});

//ATV 4 ou 4K
      
      	if ('#ATV#' != 3 ){
          
//ATV 4 ou 4K - Power + Statut
          
          	var statut = '#play_human#';
          	$('.eqLogic[data-eqLogic_id=#id#] #statut2#id#').slideToggle(1);
          
        	if('#power_state#' == 1){
				$('.eqLogic[data-eqLogic_id=#id#] .cmd.turn_on').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.refresh').hide(1);
              	$('.eqLogic[data-eqLogic_id=#id#] #statut#id#').text(statut);
			} else if('#power_state#' == 0){
				$('.eqLogic[data-eqLogic_id=#id#] .cmd.turn_off').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.refresh').hide(1);
              
              	$('.eqLogic[data-eqLogic_id=#id#] .artist_hide').slideToggle(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .artist2_hide').slideToggle(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .album_hide').slideToggle(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .album2_hide').slideToggle(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .titre_hide').slideToggle(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .titre2_hide').slideToggle(1);
              
              	$('.eqLogic[data-eqLogic_id=#id#] .genre').hide(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .app_hide').slideUp(1);
              	$('.eqLogic[data-eqLogic_id=#id#] .media').hide(1);
                $('.eqLogic[data-eqLogic_id=#id#] .position').hide(1);
              
              	//$(".artwork_un_aTVremote").attr('src','plugins/aTVremote/core/template/inactive.png');
              	//$(".artwork").attr('src','plugins/aTVremote/core/template/inactive.png');
              	//$('.eqLogic[data-eqLogic_id=#id#] #statut#id#').text('Inactif');
			} else {
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.turn_on').hide(1);
        		$('.eqLogic[data-eqLogic_id=#id#] .cmd.turn_off').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .app_hide').slideUp(1);
	          	$('.eqLogic[data-eqLogic_id=#id#] #statut#id#').text(statut);              
        	};
          	        	
//ATV 4 ou 4K - App
          
			var str_app = '#app#';
			var app_split = str_app.split(['.']);
      		//var app_final = app_split[1]+' : '+app_split[2];
           if (app_split[1] != "apple"){
      			var app_final = app_split[1];
           } else {
             	var app_final = app_split[2];
           }
	    
      		if(typeof(app_split[1]) != "undefined" && app_split[1] !== null) {    	
    			$('.eqLogic[data-eqLogic_id=#id#] #sum#id#').text(app_final);
              
			} else {
          		$('.eqLogic[data-eqLogic_id=#id#] .app_hide').slideUp(1);
        	};
			$('.appBox').show(1);
                 
//ATV 4 ou 4K - Play_state
          
      		if('#play_state#' == ''){
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_off').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_track').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_on').hide(1);
        	} else if('#play_state#' == 1){
				$('.eqLogic[data-eqLogic_id=#id#] .cmd.play').hide(1);
			}else{
				$('.eqLogic[data-eqLogic_id=#id#] .cmd.pause').hide(1);
			};

//ATV 4 ou 4K - Metadonnée          
          
        	if("#artist#"!='-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .artist_hide').slideToggle(1);};
	    
       	 	if("#album#"!='-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .album_hide').slideToggle(1);};
	    
      		if('#title#'!='-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .titre_hide').slideToggle(1);};
          
          	var str0 = '#artist#';
      		var artist_str = str0.length;
      		if (artist_str > 18){$('.eqLogic[data-eqLogic_id=#id#] .artist_hide').slideUp(1);}else{$('.eqLogic[data-eqLogic_id=#id#] .artist2_hide').slideUp(1);}
      
      		var str1 = '#album#';
      		var album_str = str1.length;
      		if (album_str > 18){$('.eqLogic[data-eqLogic_id=#id#] .album_hide').slideUp(1);}else{$('.eqLogic[data-eqLogic_id=#id#] .album2_hide').slideUp(1);}
      
      		var str2 = '#title#';
      		var titre_str = str2.length;
      		if (titre_str > 18){$('.eqLogic[data-eqLogic_id=#id#] .titre_hide').slideUp(1);}else{$('.eqLogic[data-eqLogic_id=#id#] .titre2_hide').slideUp(1);}
          
			if('#genre#' != '-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .genre').hide(1);}
      		if('#genre#' != 'Unknown'){}else{$('.eqLogic[data-eqLogic_id=#id#] .genre').hide(1);}
      		if('#media_type#' != '-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .media').hide(1);};         
      		if('#media_type#' != 'Unknown'){}else{$('.eqLogic[data-eqLogic_id=#id#] .media').hide(1);};      
          
//ATV 4 ou 4K - Position 
          
      		if('#position#' != '-'){
            	var time = '#position#';
          		var split_time = time.split(['/']);
          		var position = split_time[0] + '/' + split_time[1] + 's (' + Math.round((split_time[0]*100)/split_time[1]) + '%)';
            	$('.eqLogic[data-eqLogic_id=#id#] #pos#id#').text(position);
            }else{
              	$('.eqLogic[data-eqLogic_id=#id#] .position').hide(1);
            }          
          
//ATV 4 ou 4K - Repeat	
          
          	if('#repeat_state#'== '1'){
        		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_all').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_track').hide(1);    
        	}else if('#repeat_state#'== '2'){
        		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_all').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_off').hide(1);           	
        	}else if('#repeat_state#'== '0'){
        		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_off').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_track').hide(1);        
        	};
          
//ATV 4 ou 4K - Shuffle
          
      		if('#shuffle_state#'== '0'){
        		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_off').hide(1);   
        	}else if('#shuffle_state#'== '1'){
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_on').hide(1);          	
        	}/*else if('#shuffle_state#'== '2'){
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_on').hide(1);        
        	};*/
          
          	if('#'+'cmd_volume_up_id#'=="#cmd_volume_up_id#"){
            	$('.eqLogic[data-eqLogic_id=#id#] .cmd.plus').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.moins').hide(1);
            };
      				
//ATV 3         
        } else if ('#ATV#' == 3) { 
          
//ATV 3 - hide Power et hide App         
          
          	$('.eqLogic[data-eqLogic_id=#id#] .cmd.turn_on').hide(1);
        	$('.eqLogic[data-eqLogic_id=#id#] .cmd.turn_off').hide(1);
          	$('.eqLogic[data-eqLogic_id=#id#] .app_hide').slideUp(1);
			$('.appBox').hide(1);

//ATV 3 - Statut
          
          	
          	$('.eqLogic[data-eqLogic_id=#id#] #statut#id#').slideToggle(1);
           
//ATV 3 - Play_state
                   
	      	if('#play_state#' == ''){
    	      	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_off').hide(1);
        	  	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_track').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_on').hide(1);
	        } else if('#play_state#' == 1){
				$('.eqLogic[data-eqLogic_id=#id#] .cmd.play').hide(1);
			}else{
				$('.eqLogic[data-eqLogic_id=#id#] .cmd.pause').hide(1);
			};
	    
	        if("#artist#"!='-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .artist_hide').slideToggle(1);};
	    
    	    if("#album#"!='-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .album_hide').slideToggle(1);};
	    
      		if('#title#'!='-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .titre_hide').slideToggle(1);};
          
          	var str0 = '#artist#';
    	  	var artist_str = str0.length;
      		if (artist_str > 18){$('.eqLogic[data-eqLogic_id=#id#] .artist_hide').slideUp(1);}else{$('.eqLogic[data-eqLogic_id=#id#] .artist2_hide').slideUp(1);}
      
	      	var str1 = '#album#';
    	  	var album_str = str1.length;
      		if (album_str > 18){$('.eqLogic[data-eqLogic_id=#id#] .album_hide').slideUp(1);}else{$('.eqLogic[data-eqLogic_id=#id#] .album2_hide').slideUp(1);}
      
	      	var str2 = '#title#';
    	  	var titre_str = str2.length;
      		if (titre_str > 18){$('.eqLogic[data-eqLogic_id=#id#] .titre_hide').slideUp(1);}else{$('.eqLogic[data-eqLogic_id=#id#] .titre2_hide').slideUp(1);}
          
          	if('#genre#' != '-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .genre').hide(1);}
    	  	if('#genre#' != 'Unknown'){}else{$('.eqLogic[data-eqLogic_id=#id#] .genre').hide(1);}
      		if('#media_type#' != '-'){}else{$('.eqLogic[data-eqLogic_id=#id#] .media').hide(1);};
	      	if('#media_type#' != 'Unknown'){}else{$('.eqLogic[data-eqLogic_id=#id#] .media').hide(1);};
    	  	if('#position#' != '-'){$('.eqLogic[data-eqLogic_id=#id#] .position').text('#position#');}else{$('.eqLogic[data-eqLogic_id=#id#] .position').hide(1);}

//ATV 3 - Repeat
          
          	if('#repeat_state#'== '1'){
	        	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_all').hide(1);
    	      	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_track').hide(1);    
        	}else if('#repeat_state#'== '2'){
	        	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_all').hide(1);
    	      	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_off').hide(1);           	
        	}else if('#repeat_state#'== '0'){
        		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_off').hide(1);
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_repeat_track').hide(1);        
        	};
      	
	      	if('#shuffle_state#'== '0'){
    	    	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_off').hide(1);   
        	}else if('#shuffle_state#'== '1'){
          		$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_on').hide(1);          	
	        }/*else if('#shuffle_state#'== '2'){
    	      	$('.eqLogic[data-eqLogic_id=#id#] .cmd.set_shuffle_on').hide(1);        
        	};*/
          
          	$('.eqLogic[data-eqLogic_id=#id#] .cmd.plus').hide(1);
          	$('.eqLogic[data-eqLogic_id=#id#] .cmd.moins').hide(1);
                       
        };
      	
       
      	function panelDownApp#id#()
		{
    		$(".eqLogic[data-eqLogic_id=#id#] .downpanelApp").animate({top: "30px"});
		}
		function panelDownCloseApp#id#()
		{
    		$(".eqLogic[data-eqLogic_id=#id#] .downpanelApp").animate({top: "-300px"});
		}
      	function panelDown#id#()
		{
    		$(".eqLogic[data-eqLogic_id=#id#] .downpanelA").animate({top: "30px"});
		}
		function panelDownClose#id#()
		{
    		$(".eqLogic[data-eqLogic_id=#id#] .downpanelA").animate({top: "-300px"});
		}


      	
		$('.eqLogic[data-eqLogic_id=#id#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});


/* Back to the futur Sildebar */    
      
      	/*var time = '#position#';
      	var split_time = time.split(['/']);
      	var current_time = split_time[0];
      	var total_time = split_time[1]; 
        
      	var split_total_time = total_time.split(['s']);
      	var total = split_total_time[0];
      
      	$('.eqLogic[data-eqLogic_id=#id#] #myRange').attr('value', current_time);
      	$('.eqLogic[data-eqLogic_id=#id#] #myRange').attr('max', total);

      
      	var slider = document.getElementById("myRange");
		var output = document.getElementById("demo");
		output.innerHTML = slider.value; // Display the default slider value
		
		// Update the current slider value (each time you drag the slider handle)
		slider.oninput = function() {
  		output.innerHTML = this.value;
          
       		$(".eqLogic[data-eqLogic_id=#id#] .silde").on('slidestop', function (event,ui) {
				jeedom.cmd.execute({id: '#set_position#', value: {slider: ui.value}});
			});
          
		}*/
      
     
    </script>
  <!--<a href="#oModal#id#" id="i#id#" class="infoBox" title='info'><img src='plugins/aTVremote/core/template/dashboard/images/info.png' style="width:20px;"/></a>
					
				<div id="oModal#id#" class="oModal">
					<div>
						<section style="text-align: center;"> 
							<a href="#fermer" title="Fermer la fenêtre" class="droite"><img src='plugins/aTVremote/core/template/dashboard/images/X.png' style="width:30px;"/></a>
							<br/>
							<img src='#artwork_url#' style="width:100px;" class="artwork"/><br>
							<br/>
							<center><p class="titre_hide"><a class="titre_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Titre"> #title# </a></p></center>
							<p class="titre2_hide"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Titre"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();" style="font-weight: bold; font-size:12px">#title#</marquee></a><br></p>
							<center><p class="artist_hide"><a class="artist_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Artiste"> #artist# </a></p></center>
							<p class="artist2_hide"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Artiste"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();" style="font-weight: bold; font-size:12px">#artist#</marquee></a><br></p>
							<center><p class="album_hide"><a class="album_titre_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Album"> #album# </a></p></center>
							<p class="album2_hide"><a class="last_aTVremote noRefresh" style="text-decoration: none; cursor:default;color:white !important" title="Album"><marquee  direction="left" behavior="#marquee#" scrollamount="2" scrolldelay="60" width="220px" hspace=15px loop=0 onmouseover="stop();" onmouseout="start();">#album#</marquee></a><br></p>
							<br>
						</section>-->
						<!--<footer class="cf">
							<a href="#fermer" class="btn droite" title="Fermer la fenêtre">Fermer</a>
						</footer>-->
					<!--</div>
				</div>-->
</div>
